<div class="control-group">
  <label for="emocao" class="control-label">emocao</label>
  <div class="controls">
    <%- contentTag('input', emocao.emocao, {type:'text', class:'span6', name:'emocao'}) %>
  </div>
</div>
<div class="control-group">
  <label for="emoticon" class="control-label">emoticon</label>
  <div class="controls">
    <%- contentTag('input', emocao.emoticon, {type:'text', class:'span6', name:'emoticon'}) %>
  </div>
</div>
