.hero-unit
  form#pessoa-form.form-horizontal(action="/pessoas/" + params.id + "?_method=PUT", method="POST")
    fieldset
      legend Update this Pessoa
      if params.errors
        .control-group
          ul
          for err in params.errors
            li= err

      != partial('form', {pessoa: pessoa, estados: estados})

      .form-actions
        != contentTag('input', 'Save', {type: 'submit', class: 'btn btn-primary'})
        != contentTag('button', 'Remove', {type: 'submit', formaction: '/pessoas/' + params.id + '?_method=DELETE', formmethod: 'POST', class: 'btn btn-danger'})
