.hero-unit
  form#mensagem-form.form-horizontal(action="/mensagems", method="POST")
    fieldset
      legend Create a new Mensagem
      if params.errors
        .control-group
          ul
          for err in params.errors
            li= err

      != partial('form', {mensagem: params, pessoas: pessoas, emocaos: emocaos, minhas_emocaos: []})

      .form-actions
        != contentTag('input', 'Add', {type: 'submit', class: 'btn btn-primary'})
