.hero-unit
  form#estado-form.form-horizontal(action="/estados/" + params.id + "?_method=PUT", method="POST")
    fieldset
      legend Update this Estado
      if params.errors
        .control-group
          ul
          for err in params.errors
            li= err

      != partial('form', {estado: estado,})

      .form-actions
        != contentTag('input', 'Save', {type: 'submit', class: 'btn btn-primary'})
        != contentTag('button', 'Remove', {type: 'submit', formaction: '/estados/' + params.id + '?_method=DELETE', formmethod: 'POST', class: 'btn btn-danger'})
